<div class="container my-3">
  <div class="card-category banner-height" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path 'banner.jpg', alt: 'banner image' %>)">
  Movies watchlist. Save any kind of movie!
  <%= link_to 'Create a new list', new_list_path, class: "ms-4 btn btn-light" %>
  </div>
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : image_path('https://ducunl0s4svtl.cloudfront.net/wp-content/uploads/2017/10/flat-clapperboard-icon_1063-38.jpg') %>)">
        <%= link_to list.name, list_path(list) %>
      </div>
    <% end %>
  </div>
</div>
